book/
target/
.DS_Store
*.rlib
# Compiled test binaries (exercises crate)
functions
generics
hashmaps
if_
intro
iterators
lifetimes
macros
modules
move_semantics
options
primitive_types
smart_pointers
strings
structs
tests
threads
todo_struct
traits
variables
vecs
clippy
conversions
enums
error_handling

# omp / sdd-pack runtime cache
.sdd/
